name: run-tests
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.9", "3.8", "3.7",]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov
          pip install -e .

      - name: Test with pytest
        run: |
          python -m pytest -v --cov=dlms_cosem

      - name: Submit coverage report to Codecov
        # only submit to Codecov once
        if: ${{ matrix.python-version == 3.10 }}
        uses: codecov/codecov-action@v1.0.12
        with:
          fail_ci_if_error: true
